#container {
    /*width:500px;*/
}

#header {
    background-color:#FFA500;
    text-align:center;
}

#primary-content {
    height:700px;
    width:100%;
    float:left;
    background-color:#AAFF00;
}

#secondary-content {
    height:250px;
    width:100%;
    float:left;
    background-color:#00FFAA;
}

#footer {
    background-color:#FFA500;
    clear:both;
    text-align:center;
}
